<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Cod3rsGrowth.BancoDeDados" connectionString ="Data Source=BOOK-DPKA6KUT4U\SQLEXPRESS;Initial Catalog=Cod3rsGrowth.BancoDeDados;Persist Security Info=True;User ID=sa;Password=***********;Trust Server Certificate=True"
		providerName = "SqlServer" />
	</connectionStrings>
</configuration>